.form-control{

}
.formControl.error input,
.formControl.error textarea{
    border: solid blue 10px;
}
.formControl.error span{
    color: blue;
}
.formSummaryError{
    border: red 1px solid;
    padding: 5px;
    color: rosybrown;
}