.nav {
  grid-area: n;
  background-color: antiquewhite;

}

.item {
  color: rgb(126, 75, 28);
}
.item.active {
  color: aqua;
}
.item a{
  text-decoration:none;
}
.item a.active{
  color:gold;
}
/* .active{
  background-color: rgb(43, 226, 180);
} */